:root {
    --mostaza: #D8B75A;
    --terracota: #C45A3C;
    --azul: #1F4E5F;
    --hueso: #FAF7F2;
    --texto: #3A3A3A;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    color: var(--texto);
    background-color: var(--hueso);
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(216, 183, 90, 0.95); /* mostaza */
    backdrop-filter: blur(6px);
    z-index: 100;
}



.nav-links a {
    color: var(--azul);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.nav-links a:hover {
    color: var(--terracota);
}



.hero {
    height: 88vh;
    background-image: url("https://raw.githubusercontent.com/irinaostojic/irina-portfolio/main/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 60px;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(196, 90, 60, 0.55); /* terracota translúcido */
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--hueso);
    max-width: 800px;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-content h2 {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 300;
}

.btn-primary {
    padding: 12px 26px;
    border-radius: 999px;
    background: var(--mostaza);
    color: var(--azul);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

.btn-primary:hover {
    background: var(--terracota);
    color: white;
}


.section {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.section h2 {
    color: var(--azul);
}

.project-card {
    border-left: 6px solid var(--terracota);
}

.project-card h3 {
    color: var(--azul);
}

.project-card a {
    color: var(--terracota);
}

/* PERFIL */

#perfil p {
    text-align: justify;
}



.tech-category {
    border-top: 6px solid var(--mostaza);
}

.tech-category h3 {
    color: var(--azul);
}

/* FOOTER */

.footer {
    background: var(--mostaza);
    color: var(--azul);
}